@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
  display: block;
}


  /*This is to hide the scroll alls in the website  */
  ::-webkit-scrollbar {
    display: none;
  }
  
@media (max-width: 640px){
  a.active{
    background-color: black;
    color: white;
  }
}