@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
  display: block;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


  /*This is to hide the scroll alls in the website  */
  ::-webkit-scrollbar {
    display: none;
  }
  
@media (max-width: 640px){
  a.active{
    background-color: black;
    color: white;
  }
}